html {
	font-family: sans-serif;
	background-color:#f4f6f8;
	margin: 10px;
}

header {
	text-align: center;
	width: 100vw;
	min-height: auto;
}

body {
	justify-content: center;
	text-align: center;
}

.flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.box {
	min-width: 15em;
	min-height: 2em;

	background-color: white;

	padding: 10px;
	margin: 10px;
	
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	align-items: center;
	justify-content: center;
}


input{
	margin: 5px;
	width: clamp(5em, 90%,20em);
}

button{	
	margin: 5px;
	min-height: 32px;
	width: clamp(5em, 45%, 12em);

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	text-decoration: none;

	border-radius: 4px;
	display: inline-block;
	background-color: transparent;
	border: 2px solid #006198;
	color: #006198;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button:hover{
	background-color: #006198;
	color: white;
}

button:active {
	transform: scale(0.95);
}